# Python
__pycache__/
*.py[cod]
*$py.class

# Build Artifacts
App/dist/
App/build/
App/bridge_DEV.spec
App/build.bat
App/build_DEV.bat

# Release Builds
Releases/

# Development
setup.iss
VERSIONING.md
todo.txt

# Configuration
.github