.vscode/

.venv/
venv/

Releases/

# Deprecated for now due to Edge being a bitch (aka their Partner Center is pretty bad and it takes soooo long for changes to get live)
src/App/app_manifest.edge_OLD.json
src/Extension/manifest.edge_OLD.json

# Development
docs/todo.txt
src/Extension/manifest.json


# Others
Extension.crx
Extension.pem